<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>

    {{>styles}}
</head>

<body>
    {{>header}}

    <div class="about__me__image__container center">
        <img src="/img/summer.jpg" alt="Summer Image">
    </div>

    {{>footer}}
</body>

</html>