<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>

    {{>styles}}
</head>

<body>
    {{>header}}

    <div class="container center">
        <p>This site was created by Gabriel Souza. it uses data from mapbox.com and darksky.net</p>
        <img src="/img/summer.jpg" class="about__me--image" alt="Summer Image">
    </div>

    {{>footer}}
</body>

</html>