<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>

    {{>styles}}
</head>

<body>
    {{>header}}

    <h1 class="help-message center">Do you need help on getting the weather?</h1>

    {{>footer}}
</body>

</html>