<h1 id="page-title" class="center--horizontal">{{title}}</h1>

<header id="header" class="center--horizontal">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
</header>